* {
  font-family: Arial, Helvetica, sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  width: -webkit-fill-available;
}

div.pokemon-box {
  height: 3em;
  width: 3em;
  border: 2px solid hsla(0, 0%, 69%, 0.69);
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

div.row {
  display: flex;
  justify-content: center;
}

div.gray {
  background-color: #787c7e !important;
  color: white;
}

div.yellow {
  background-color: #c9b458 !important;
  color: white;
}

div.green {
  background-color: #6aaa64 !important;
  color: white;
}

img.logo {
  height: 50px;
}

div#header {
  display: flex;
  align-items: center;
}

.btn-holder {
  margin-top: 16px;
  text-align: center;
}

button#submit-btn,
#share-btn,
#restart-btn {
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: #5752ff;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  cursor: pointer;
  font-size: 18px;
}

img.pokemon-image {
  height: 280px;
}

#photo-holder {
  align-items: center;
  justify-content: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pokemon-name {
  text-transform: capitalize;
}

#results-message {
  text-align: center;
}
